<div class="dashboard-content">
  <!-- Recent Question Set -->
  <ion-card *ngIf="recentQuestionSet" style="background-color: white">
    <ion-card-header>
      <ion-card-title>Recent Question Set Results</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        <strong>Course:</strong
        ><span [style.color]="courseColor"> {{ recentCourse?.name }}</span>
      </p>
      <p><strong>Set:</strong> {{ recentQuestionSet.name }}</p>
      <mat-spinner
        mode="determinate"
        value=" {{ scorePercentageAnimated }}"
      ></mat-spinner>
      <p><strong>Percentage:</strong> {{ scorePercentageAnimated }}%</p>
      <ion-button
        [style.--background]="courseColor"
        [routerLink]="
          '/mcqtest/' + recentCourse?.id + '/' + recentQuestionSet.id
        "
        >Retake Test</ion-button
      >
    </ion-card-content>
  </ion-card>
  <!-- No Data Message -->
  <div
    *ngIf="!recentCourse && !recentQuestionSet && recentScore === null"
    class="no-data"
    style="background-color: white"
  ></div>
</div>
