.dashboard-content {
  background-image: var(--imageURL);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5px;
  border-radius: 10px;
}

ion-card {
  margin-bottom: 16px;
}

.no-data {
  text-align: center;
  color: var(--ion-color-medium);
  font-size: 16px;
}
/* Spinner container styling */
// This is from an article here:
//https://stackoverflow.com/questions/48786027/angular-material-mat-spinner-custom-color
// Angular Material Spinner has 3 colour options built in, however it doesn't react to custom UI changes as it should. This is a workaround to make it work with the custom theme, the other options listed don't function as expected, this creates a warning in the console as the code is deprecated.
:host >>> .mat-mdc-progress-spinner .mdc-circular-progress__determinate-circle,
:host
  >>> .mat-mdc-progress-spinner
  .mdc-circular-progress__indeterminate-circle-graphic,
:host
  >>> .mat-mdc-progress-spinner
  .mdc-circular-progress__determinate-circle:hover,
:host
  >>> .mat-mdc-progress-spinner
  .mdc-circular-progress__indeterminate-circle-graphic:hover {
  stroke: var(--courseColor) !important;
}

::ng-deep .mat-mdc-progress-spinner .mdc-circular-progress__determinate-circle,
::ng-deep
  .mat-mdc-progress-spinner
  .mdc-circular-progress__indeterminate-circle-graphic,
::ng-deep
  .mat-mdc-progress-spinner
  .mdc-circular-progress__determinate-circle:hover,
::ng-deep
  .mat-mdc-progress-spinner
  .mdc-circular-progress__indeterminate-circle-graphic:hover {
  stroke: var(--spinner-color, #3880ff) !important;
}

:host {
  --spinner-color: var(--course-color);
}
