<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Edit Image</ion-title>
    <ion-buttons slot="end">
      <ion-button [strong]="true" (click)="confirm()" [disabled]="!imageUrl">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="file-upload-container">
    <ion-button expand="block" (click)="fileInput.click()">
      <ion-icon name="image-outline" slot="start"></ion-icon>
      Select Image
    </ion-button>
    <input 
      type="file" 
      #fileInput 
      style="display: none" 
      (change)="onFileSelected($event)" 
      accept="image/.jpeg"> 
  </div>
  
  <div *ngIf="imageUrl" class="preview-container">
    <h4>Preview:</h4>
    <img [src]="imageUrl" alt="Selected image preview" class="image-preview">
  </div>
</ion-content>