<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Course Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Course Details</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngIf="course">
    <ion-card-header>
      <ion-card-title [style.color]="course.color">{{ course.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label>Course ID: {{ courseId }}</ion-label>
      </ion-item>
      
      <ion-item lines="none" *ngIf="course?.description">
        <ion-label>Course Description: {{ course.description }}</ion-label>
      </ion-item>
      
      <app-pdf-parser *ngIf="courseId" [id]="courseId"></app-pdf-parser>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="course?.questionSets?.length ?? 0 > 0">
    <ion-card-header>
      <ion-card-title>Generated Question Sets</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let questionSet of course?.questionSets; let i = index">
          <ion-button 
            expand="block" 
            (click)="viewQuestions(questionSet)" 
            [style.--background]="course?.color">
            {{ questionSet.name }}
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="selectedQuestionSet">
    <ion-card-header>
      <ion-card-title>{{ selectedQuestionSet.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let question of selectedQuestionSet.questions" lines="full">
          <ion-label class="ion-text-wrap">
            <h2><strong>Question:</strong> {{ question.question }}</h2>
            <p><strong>Correct Answer:</strong> {{ question.correctAnswer }}</p>
            <p><strong>Wrong Answer 1:</strong> {{ question.wrongAnswers[0] }}</p>
            <p><strong>Wrong Answer 2:</strong> {{ question.wrongAnswers[1] }}</p>
            <p><strong>Wrong Answer 3:</strong> {{ question.wrongAnswers[2] }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>